* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 15px;
  background-color: rgb(37, 37, 37);
  color: white;
}

.list {
  width: 100%;
  padding: 20px;
  table {
    background-color: white;
    color: black;
    width: 100%;
    p {
      font-size: 20px;
    }
    th, td {
      text-align: start;
      padding: 10px;
    }
    th {
      font-size: 20px;
    }
    td {
      button {
        color: black;
        border: 0.5px solid black;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        &:first-child {
          background-color: yellow;
          margin-right: 10px;
        }
        &:last-child {
          background-color: red;
        }
      }
    }
  }
}